# cspell:words pycache

# Artifacts
/Artifacts/

# Distribution
__metadata__.py

# Environment
/environment.json

# Logs
*.log

# NodeJS
node_modules/

# Python
__pycache__/
*.egg-info/
*.pyc

# Python virtual environment
.venv-automation/
.venv/

# Visual Studio Code
/.vscode/settings.json
