# Build
/build/
/dist/

# Environment
environment.json

# Generated metadata
__metadata__.py

# Python
__pycache__/
*.egg-info/
*.pyc

# Python virtual environment
.venv/

# Visual Studio Code
.vscode/
