{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="contact-entry">
        <div class="link">
            <a href="https://github.com/BenjaminHamon/">GitHub @BenjaminHamon</a>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:development@benjaminhamon.com">development@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>You can reach out to me about topics related to my software projects and to software engineering in general. Please note that I am currently not looking for a job as a software engineer and I will not reply to offers.</p>
            <p>Please message me to this address if you encounter any issues with the website. You can also check out the project directly on <a href="https://github.com/BenjaminHamon/DeveloperWebsite/">GitHub</a>—sources, discussions, issues, and all.</p>
        </div>
    </article>
</section>

{% endblock %}
