{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/DevelopmentToolkit">Development Toolkit</a>
        </div>
        <div class="text">
            <p>A toolkit for software development scripts.</p>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/Overmind.ImageManager">Image Manager</a>
        </div>
        <div class="text">
            <p>A Windows desktop application to manage your collections of pictures.</p>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/JobOrchestra">Job Orchestra</a>
        </div>
        <div class="text">
            <p>A toolkit for building a service which manages distributed job execution across a computer network. It is particularly suited as a base for making a continuous integration and delivery system that suits your team needs.</p>
        </div>
    </article>
</section>

{% endblock %}
