{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Programming</p>
        </div>
        <div class="text">
            <p>C#, C++, Python, JavaScript</p>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>System Administration</p>
        </div>
        <div class="text">
            <p>Windows, Linux, Ansible, Amazon Web Services</p>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Game Development</p>
        </div>
        <div class="text">
            <p>Unity3D, Unreal Engine, Steam, Epic, PlayStation, Stadia, Xbox</p>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Web Development</p>
        </div>
        <div class="text">
            <p>HTML/CSS/JS, Flask, ASP.NET</p>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Databases</p>
        </div>
        <div class="text">
            <p>MySQL, PostgreSQL, SQL Server, Redis, MongoDB</p>
        </div>
    </article>
</section>

{% endblock %}
