{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Programming</p>
        </div>
        <div class="text">
            <p>I'm foremost a programmer and I enjoy software engineering in general, from developing games to implementing web services, from enhancing user experience to optimizing performance.</p>
            <p>C# is my preferred programming language and the one with which I'm most experienced, along with the DotNet platform. Python is a close second, especially with how much I've used it in the last few years. I'm also moderately proficient with C++, Java and JavaScript, although I've been exposed to those somewhat rarely.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>System Administration</p>
        </div>
        <div class="text">
            <p>Through my jobs as DevOps, I've come to do a lot of system administration. I mostly manage infrastructure and online services, and I'm particularly familiar with Ansible. I also have experience with cloud computing through using Amazon Web Services extensively a few years back. I enjoy working with Linux and Windows equally.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Game Development</p>
        </div>
        <div class="text">
            <p>The vast majority of my work experience is in video games, and it includes most platforms between consoles, mobiles and PC. I'm not exactly a game programmer and even less so a game designer, as I deal mostly with automation: building and delivery the final application and its content.</p>
            <p>I'm particularly familiar with Unity3D, and somewhat with Unreal Engine.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Epic</li>
                <li>PlayStation</li>
                <li>Stadia</li>
                <li>Steam</li>
                <li>Unity3D</li>
                <li>Unreal Engine</li>
                <li>Xbox</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Web Development</p>
        </div>
        <div class="text">
            <p>FIXME</p>
        </div>
        <div class="tags">
            <ul>
                <li>ASP.NET</li>
                <li>Flask</li>
                <li>HTML/CSS/JS</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Databases</p>
        </div>
        <div class="text">
            <p>FIXME</p>
        </div>
        <div class="tags">
            <ul>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Redis</li>
                <li>SQL Server</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
