<!-- cspell:words Angoulême Buildbot DJiT Dontnod Frenzoo gameplay Kobojo Modedemploi Orcanon Pohlm Vampyr -->

{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.amplitude-studios.com/">Amplitude Studios</a>
        </div>
        <div class="information">
            <p>DevOps Engineer</p>
            <p>Paris, from November 2019 to June 2023</p>
        </div>
        <div class="logo">
            <a href="https://www.amplitude-studios.com/">
                <img src="{{ url_for('static', filename = 'work_experience/amplitude.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a DevOps engineer at Amplitude, I was part of a cross-project engineering team responsible for the internal services and tools used for the development and release of video games for PC and consoles. I notably participated in the projects Humankind and Endless Dungeon.</p>
            <p>My main mission consisted in upgrading, expanding and maintaining internal services and tools, as well as providing support to the other teams, predominantly developers and producers. My work pertained primarily to continuous integration and delivery (<span>CI/CD</span>), as well as application distribution, bug reporting, development for game consoles, internal infrastructure, multiplayer tests, and revision control.</p>
            <p>Notable technologies I worked with were <span>C#</span> and Python for programming, Unity3D for game development, Ansible for system administration, <span>HTML/CSS/JS</span> for web development, Windows and Linux as working environments, Steam, Epic Games Store, PlayStation 4 and 5, Xbox One, Xbox Series X and Stadia as target environments, <span>GitLab-CI</span> for <span>CI/CD</span>.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>C#</li>
                <li>GitLab-CI</li>
                <li>HTML/CSS/JS</li>
                <li>Linux</li>
                <li>Python</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://dont-nod.com/">Don't Nod</a>
        </div>
        <div class="information">
            <p>DevOps Engineer</p>
            <p>Paris, from May 2017 to August 2019</p>
        </div>
        <div class="logo">
            <a href="https://dont-nod.com/">
                <img src="{{ url_for('static', filename = 'work_experience/dontnod.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a DevOps engineer at Dontnod, I was part of a cross-project engineering team responsible for the engine and tools used for the development and release of video games for PC and consoles. I notably participated in the projects Vampyr, Life Is Strange 2, and Tell Me Why.</p>
            <p>My main mission consisted in upgrading, expanding and maintaining internal services and tools, as well as providing support to the other teams, predominantly game developers and producers. My work pertained primarily to continuous integration and delivery (<span>CI/CD</span>), as well as development for game consoles, configuration of DLC and patches, internal infrastructure management, localization, packaging, revision control, server management, and system administration.</p>
            <p>Notable technologies I worked with were <span>C++</span>, <span>C#</span> and Python for programming, Unreal Engine for game development, Ansible for system administration, WPF for tools development, Windows and Linux as working environments, Steam, Microsoft Store, PlayStation 4 and Xbox One as target environments, Perforce for revision control, Buildbot for <span>CI/CD</span>.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>C#</li>
                <li>Linux</li>
                <li>Perforce</li>
                <li>PlayStation 4</li>
                <li>Python</li>
                <li>Unreal Engine</li>
                <li>Windows</li>
                <li>Xbox One</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="http://www.kobojo.com/">Kobojo</a>
        </div>
        <div class="information">
            <p>DevOps Engineer</p>
            <p>Paris, from May 2014 to May 2017</p>
        </div>
        <div class="logo">
            <a href="http://www.kobojo.com/">
                <img src="{{ url_for('static', filename = 'work_experience/kobojo.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a DevOps engineer at Kobojo, I was part of a cross-project engineering team responsible for the framework and the server infrastructure used for the development, deployment and operation of video games for Facebook and mobiles. I notably participated in the projects Mutants Genetic Gladiators, Zodiac Orcanon Odyssey, and Primal Legends.</p>
            <p>My main mission consisted in developing the backend framework and managing the online infrastructure. My work pertained primarily to backend development and cloud infrastructure, as well as continuous integration and delivery (<span>CI/CD</span>), database administration, online services development, and system administration. </p>
            <p>Notable technologies I worked with were Bash, <span>C++</span>, <span>C#</span> and JavaScript for programming, Unity3D for game development, AWS for cloud infrastructure, <span>ASP.NET</span> and <span>HTML/CSS/JS</span> for web development, Windows and Linux as working environments, Windows, Facebook, Android and iOS as target environments, TFS for revision control, TFS and Jenkins for <span>CI/CD</span>.</p>
        </div>
        <div class="tags">
            <ul>
                <li>AWS</li>
                <li>C#</li>
                <li>C++</li>
                <li>HTML/CSS/JS</li>
                <li>Jenkins</li>
                <li>Linux</li>
                <li>Python</li>
                <li>TFS</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.frenzoo.com/">Frenzoo</a>
        </div>
        <div class="information">
            <p>Game Programmer (internship)</p>
            <p>Hong Kong, from August 2013 to January 2014</p>
        </div>
        <div class="logo">
            <a href="https://www.frenzoo.com/">
                <img src="{{ url_for('static', filename = 'work_experience/frenzoo.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a game programmer intern at Frenzoo, I participated in creating video games for mobiles. I notably worked on a casino game for the Me Girl franchise.</p>
            <p>My main mission consisted in programming the game, through implementing its gameplay elements, designing the user interface and optimizing performance. </p>
            <p>Notable technologies I worked with were <span>C#</span> for programming, Unity3D for game development, Windows as working environment, Android and iOS as target environments.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Android</li>
                <li>C#</li>
                <li>iOS</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="#">Pohlm Studio</a>
        </div>
        <div class="information">
            <p>Game Tools Programmer (internship)</p>
            <p>Angoulême (France), from September 2011 to December 2011</p>
        </div>
        <div class="logo">
            <a href="#">
                <img src="{{ url_for('static', filename = 'work_experience/pohlm_studio.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a tools programmer intern at Pohlm Studio, I joined a programming team creating video games for mobiles.</p>
            <p>My mission consisted in developing a level editor.</p>
            <p>Notable technologies I worked with were <span>C#</span> for programming, WPF for application development, Windows as working environment.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.edjing.com/">DJiT</a>
        </div>
        <div class="information">
            <p>Programmer (internship)</p>
            <p>Paris, from June 2010 to July 2010</p>
        </div>
        <div class="logo">
            <a href="https://www.edjing.com/">
                <img src="{{ url_for('static', filename = 'work_experience/djit.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a programmer intern at DJiT, I participated in a startup project to create a web application for mixing music.</p>
            <p>My mission consisted in developing the web application, by working notably on user interface and audio processing.</p>
            <p>Notable technologies I worked with were ActionScript 3 and C for programming, Flex for application development, Windows as working environment.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ActionScript</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="http://agence-modedemploi.com/">Modedemploi</a>
        </div>
        <div class="information">
            <p>Tester and Programmer (internship)</p>
            <p>Paris, from June 2009 to July 2009</p>
        </div>
        <div class="logo">
            <a href="http://agence-modedemploi.com/">
                <img src="{{ url_for('static', filename = 'work_experience/modedemploi.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>As a tester and programmer intern at Modedemploi, I participated in the development of web projects.</p>
            <p>My mission consisted in testing websites and developing widgets.</p>
            <p>Notable technologies I worked with were ActionScript for programming, Flash for application development, Windows as working environment.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ActionScript</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
