section
{
	background-color: #fff;
	box-shadow: 0 0 5px #cccccc;
	margin: 10px;
	padding: 20px;
}

h1
{
	font-size: 150%;
}

h1 > a
{
	display: inline;
	color: inherit;
	text-decoration: none;
}

.content-item
{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"title logo"
		"subtitle logo"
		"text text"
}

.content-item > h1 { grid-area: title; }
.content-item > .subtitle { grid-area: subtitle; }
.content-item > .logo { grid-area: logo; }
.content-item > .picture { grid-area: picture; }
.content-item > .text { grid-area: text; }
.content-item > .links { grid-area: links; }

.content-item > h1, .content-item > div
{
	margin: 10px;
}

.content-item > h1 > a:hover
{
	color: #6e8fc5;
}

.content-item > div > p > span
{
	display: inline-block;
}

.content-item > .logo > a > img
{
	max-height: 75px;
	max-width: 150px;
}

.content-item > .text > p
{
	white-space: pre-wrap;
}

.content-item > .links
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.content-item > .links > a
{
	margin-right: 10px;
}

.content-item > .links > a:last-child
{
	margin-right: 0;
}

.content-item > .links > a > img
{
	height: 32px;
	width: 32px;
}

#identity
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"picture title"
		"picture subtitle"
		"picture text"
		"picture links";
}

#identity > .picture > img
{
	max-height: 200px;
	max-width: 200px;
}

@media (max-width: 800px)
{
	section
	{
		margin: 5px;
		padding: 5px;
	}

	.content-item > .logo > a > img
	{
		max-height: 50px;
		max-width: 100px;
	}

	#identity
	{
		grid-template-areas:
			"picture title"
			"picture subtitle"
			"text text"
			"links links";
	}

	#identity > .picture > img
	{
		max-height: 100px;
		max-width: 100px;
	}
}
