{% extends 'layout.html' %}

{% block content %}
{% for education_item in education %}
<section class="education">
	<div class="item-header">
		<a href="{{ education_item.website }}">
			<img src="{{ url_for('static', filename = 'education' + '/' + education_item.logo) }}" />
		</a>
		<div>
			<h1>{{ education_item.school }}</h1>
			<p>{{ education_item.degree | render_text }}</p>
			{% if education_item.end %}
			<p>
				<span>{{ education_item.location }},</span>
				<span>from {{ education_item.start | render_date('%Y') }}</span>
				<span>to  {{ education_item.end | render_date('%Y') }}</span>
			</p>
			{% else %}
			<p>
				<span>{{ education_item.location }},</span>
				<span>since {{ education_item.start | render_date('%Y') }}</span>
			</p>
			{% endif %}
		</div>
	</div>
	<div class="item-text">
		<p>{{ education_item.description | render_text }}</p>
	</div>
</section>
{% endfor %}
{% endblock %}
