section
{
	background-color: #fff;
	box-shadow: 0 0 5px #cccccc;
	margin: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

section a, section img
{
	display: block;
}

h1
{
	font-size: 150%;
}

.item-header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
}

.item-header > div, .item-header > h1, .item-header > a
{
	margin: 5px;
}

.item-header > div > h1
{
	margin-bottom: 10px;
}

.item-header > a > img
{
	max-height: 75px;
	max-width: 150px;
}

.item-text
{
	margin: 10px;
}

.item-text > p
{
	white-space: pre-wrap;
}

.item-links
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;
}

.item-links > a
{
	margin: 5px;
}

#identity
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"picture header"
		"picture text"
		"picture links";
}

#identity > img { grid-area: picture; }
#identity > .item-header { grid-area: header; }
#identity > .item-text { grid-area: text; }
#identity > .item-links { grid-area: links; }

#identity > img
{
	margin: 10px;
	max-height: 200px;
	max-width: 200px;
}

#identity > .item-links > a > img
{
	height: 32px;
	width: 32px;
}

@media (max-width: 800px)
{
	section
	{
		margin: 5px;
		padding: 5px;
	}

	.item-header > a > img
	{
		max-height: 50px;
		max-width: 100px;
	}

	#identity
	{
		grid-template-areas:
			"picture header"
			"text text"
			"links links";
	}

	#identity > img
	{
		max-height: 100px;
		max-width: 100px;
	}
}
