{% extends 'en/layout.html' %}

{% set title = 'Home' %}

{% block content %}

<section>
    <article class="welcome">
        <div class="text">
            <p>Welcome!</p>
            <p>This website is about me as a software engineer, and about my software projects.</p>
            <p>It's more or less a resume really.</p>
            <p>See at the bottom of the page for language choices.</p>
        </div>
    </article>
    <article class="about">
        <div class="heading">
            <p>About me</p>
        </div>
        <div class="text">
            <img src="{{ url_for('static', filename = 'benjamin_hamon.jpeg') }}"/>
            <p>Hello! I'm Benjamin.</p>
            <p>I'm a 35-year-old French guy with a passion for video games and most computer-related things.</p>
            <p>I've worked as a software engineer in the video game industry for about a decade. I typically go by DevOps engineer, and I'm proficient in application development, web development, system administration, and infrastructure management. While I'm not your usual game programmer, you might have glimpsed my name in the credits of such games as Humankind and Life Is Strange 2.</p>
            <p>I work on several open source projects, which you can explore in the <a href="{{ url_for('main_controller.projects') }}">Projects</a> page and through <a href="https://github.com/BenjaminHamon/">GitHub</a>.</p>
            <p>As another matter entirely, I recently became a self-published novelist. If that interests you, you can check out my <a href="https://author.benjaminhamon.com/">author website</a> and my <a href="https://blog-fiction.benjaminhamon.com/">blog about fiction</a>.</p>
        </div>
    </article>
    {% if config.OPEN_TO_WORK %}
    <article class="open-to-work">
        <div class="heading">
            <p>Open to work - Yes</p>
        </div>
        <div class="text">
            <p>I'm currently open to new work opportunities in software engineering, preferably a part-time job or freelance work. I strongly prefer missions related to any of the followings: video games, arts, social welfare, environment, science.</p>
            <p>Contact me at <a href="mailto:work@benjaminhamon.com">work@benjaminhamon.com</a>.</p>
            <p>See also my <a href="{{ url_for('static', filename = 'resume_en.pdf') }}">resume in PDF format</a>.</p>
        </div>
    </article>
    {% else %}
    <article class="open-to-work">
        <div class="heading">
            <p>Open to work - No</p>
        </div>
        <div class="text">
            <p>I'm not currently open to new work opportunities.</p>
            <p>Contact me at <a href="mailto:work@benjaminhamon.com">work@benjaminhamon.com</a>.</p>
            <p>See also my <a href="{{ url_for('static', filename = 'resume_en.pdf') }}">resume in PDF format</a>.</p>
        </div>
    </article>
    {% endif %}
</section>

{% endblock %}
