{# cspell:words EPUB #}

{% set title = 'Projects' %}

{% extends 'en/layout.html' %}

{% block content %}

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/DevelopmentToolkit">Development Toolkit</a>
        </div>
        <div class="text">
            <p>Development Toolkit is a library of modules intended to help with development task automation, and more generally with writing scripts for software development. This notably includes building and packaging applications, running tests, delivering software, interacting with processes, communicating with web services, managing configuration files, parsing logs, managing artifacts, etc.</p>
            <p>This project is part of my efforts in what I've come to call automation, to provide developers with more complete tools to assist them daily and over the entire course of a project, from its inception to its successful completion and to the end of its support. The project is being actively developed.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Python</li>
                <li>Library</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/DocumentManipulation">Document Manipulation</a>
        </div>
        <div class="text">
            <p>Document Manipulation is a toolkit along with a console application and scripts for manipulating and converting text documents.</p>
            <p>This project originates from my need to convert my texts into deliverables as part of my activity as a self-published author. The project is very much a work in progress and it's in the early stages of development.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Python</li>
                <li>Library</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/Overmind.ImageManager">Image Manager</a>
        </div>
        <div class="text">
            <p>Image Manager is a Windows desktop application to manage your collections of pictures.</p>
            <p>This project is something I started to manage my local collection of fan arts and wallpapers, and one I imagined used to manage photos. The project has reached a stable status and its development is paused.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>WPF</li>
                <li>Desktop application</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <a href="https://github.com/BenjaminHamon/JobOrchestra">Job Orchestra</a>
        </div>
        <div class="text">
            <p>Job Orchestra is a toolkit for building a service which manages distributed job execution across a computer network. It is particularly suited as a base for setting up a continuous integration and delivery service that fully adapts to your team needs.</p>
            <p>This project is my attempt at providing the base for a more flexible CI/CD solution. The project is well into development and I hope to put it to the test in the future, as well as to work on complementary services.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Python</li>
                <li>Web service</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="project-entry">
        <div class="heading">
            <p>Websites</p>
        </div>
        <div class="text">
            <p>These are my personal websites: <a href="https://github.com/BenjaminHamon/PortalWebsite">PortalWebsite</a>, <a href="https://github.com/BenjaminHamon/AuthorWebsite">AuthorWebsite</a>, <a href="https://github.com/BenjaminHamon/DeveloperWebsite">DeveloperWebsite</a> (you're browsing this one right now), <a href="https://github.com/BenjaminHamon/MyBlog">MyBlog</a>.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Python</li>
                <li>Website</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
