{# cspell:language en fr #}

{% set title = 'Accueil' %}

{% extends 'fr/layout.html' %}

{% block content %}

<section>
    <article class="welcome">
        <div class="text">
            <p>Bienvenue !</p>
            <p>Ce site présente mon role d'ingénieur logiciel ainsi que mes projets.</p>
            <p>C'est plus ou moins un CV.</p>
            <p>Voir en bas de la page pour le choix de langue.</p>
        </div>
    </article>
    <article class="about">
        <div class="heading">
            <p>À propos de moi</p>
        </div>
        <div class="text">
            <img src="{{ url_for('static', filename = 'benjamin_hamon.jpeg') }}"/>
            <p>Bonjour ! Je suis Benjamin.</p>
            <p>J'ai 33 ans, je suis français et j'ai une passion pour les jeux vidéo et l'informatique en général.</p>
            <p>J'ai travaillé en tant qu'ingénieur logiciel dans l'industrie du jeu vidéo pendant dix ans. Je me présente généralement comme ingénieur DevOps, et je suis compétent dans les domaines du développement d'application, du développement web, de l'administration des systèmes, et de la gestion d'infrastructure. Je ne suis pas exactement un programmeur de jeux vidéo, mais vous avez peut-être aperçu mon nom dans les crédits de jeux tels que Humankind et Life Is Strange 2.</p>
            <p>Je travaille sur plusieurs projets open source, que vous pouvez découvrir au travers de la page <a href="{{ url_for('main_controller.projects', locale = 'fr') }}">Projets</a> et de mon <a href="https://github.com/BenjaminHamon/">GitHub</a>.</p>
            <p>Dans un tout autre registre, je suis récemment devenu romancier auto-publié. Si cela vous intéresse, vous pouvez jeter un œil à mon <a href="https://author.benjaminhamon.com/">site auteur</a> ainsi qu'à mon <a href="https://blog-fiction.benjaminhamon.com/">blog sur la fiction</a>.</p>
        </div>
    </article>
    <article class="open-to-work">
        <div class="heading">
            <p>Ouvert aux offres d'emploi - Oui</p>
        </div>
        <div class="text">
            <p>Je suis actuellement à l'écoute pour de nouvelles opportunités dans le secteur de l'informatique, de préférence un travail au temps partiel ou en freelance. Je suis plus particulièrement ouvert aux missions liées aux domaines suivants : jeux vidéos, culture et arts, social, environnement, science.</p>
            <p>Contactez moi via <a href="mailto:work@benjaminhamon.com">work@benjaminhamon.com</a>.</p>
            <p>Voir aussi mon <a href="{{ url_for('static', filename = 'resume_fr.pdf') }}">CV au format PDF</a>.</p>
        </div>
    </article>
</section>

{% endblock %}
