{# cspell:language en fr #}

{% set title = 'Compétences' %}

{% extends 'fr/layout.html' %}

{% block content %}

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Programmation</p>
        </div>
        <div class="text">
            <p>Je suis avant tout un programmeur et je suis intéressé par le développement informatique dans son ensemble, du développement de jeux à l'implémentation de services web, de l'amélioration de l'expérience utilisateur à l'optimisation de performance.</p>
            <p>Le <span>C#</span> est mon langage de prédilection et celui avec lequel j'ai le plus d'expérience, ce à quoi on peut ajouter la stack DotNet en général. Vient ensuite le Python, que j'ai énormément utilisé ces dernières années. Je suis également relativement à l'aise avec le <span>C++</span>, le Java et le JavaScript, bien qu'ayant moins qu'expérience avec ceux-ci.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Administration des Systèmes</p>
        </div>
        <div class="text">
            <p>À travers mon travail de DevOps, j'ai réalisé beaucoup de tâches dans le domaine de l'administration des systèmes. Je me concentre sur la gestion de l'infrastructure et sur les services en ligne, notamment au travers d'Ansible. J'ai acquis une certaine expérience avec les services cloud, via l'utilisation importance d'Amazon Web Services il y a quelques années. Je suis confortable autant avec Linux qu'avec Windows.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Développement de Jeux Vidéo</p>
        </div>
        <div class="text">
            <p>La majorité de mon expérience professionnelle s'est passé dans le secteur du jeu vidéo, partagée entre PC, consoles et mobiles. Je suis moins du côté de la programmation du jeu et plus du côté de la logistique du développement: créer et livrer l'application finale et son contenu.</p>
            <p>Je suis surtout familier avec Unity3D, and et un peu avec Unreal Engine. J'ai développé pour la plupart des plateformes, principalement Steam, PlayStation et Xbox.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Epic</li>
                <li>PlayStation</li>
                <li>Steam</li>
                <li>Unity3D</li>
                <li>Unreal Engine</li>
                <li>Xbox</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Développement Web</p>
        </div>
        <div class="text">
            <p>J'ai créé plusieurs sites et services web au travers des années, dont celui-ci. Je n'ai pas la prétention de me décrire comme un développeur full-stack mais j'ai de l'expérience avec à la fois le frontend et le backend.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ASP.NET</li>
                <li>Flask</li>
                <li>HTML/CSS/JS</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Bases de données</p>
        </div>
        <div class="text">
            <p>J'ai un minimum d'expérience avec les bases de données, principalement avec les bases de données SQL traditionnelles.</p>
        </div>
        <div class="tags">
            <ul>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Redis</li>
                <li>SQL Server</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
