{# cspell:language en fr #}
{# cspell:words Angoulême Buildbot djit dontnod frenzoo gameplay kobojo modedemploi Orcanon pohlm Vampyr #}

{% set title = 'Expérience Professionnelle' %}

{% extends 'fr/layout.html' %}

{% block content %}

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.amplitude-studios.com/">Amplitude Studios</a>
        </div>
        <div class="information">
            <p>Ingénieur DevOps</p>
            <p>Paris, de novembre 2019 à juin 2023</p>
        </div>
        <div class="logo">
            <a href="https://www.amplitude-studios.com/">
                <img src="{{ url_for('static', filename = 'work_experience/amplitude.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant qu'ingénieur DevOps à Amplitude, je faisais partie d'une équipe de développement multi-projets qui s'occupait des services et outils internes, utilisés pour le développement et la sortie de jeux vidéo pour PC et consoles. J'ai notamment participé aux projets Humankind et Endless Dungeon.</p>
            <p>Ma mission consistait à développer, améliorer et entretenir les services et outils internes, ainsi qu'à assister les autres équipes, principalement les développeurs et producers. Mon travail recouvrait en particulier l'intégration et la livraison continue (<span>CI/CD</span>), ainsi que la distribution d'application, le reporting de bugs, le développement pour les consoles, l'infrastructure interne, les tests multijoueur, et la gestion de versions.</p>
            <p>Dans ce travail, j'ai utilisé <span>C#</span> et Python pour la programmation, Unity3D pour le développement de jeux, Ansible pour l'administration des systèmes, <span>HTML/CSS/JS</span> pour le développement web, Windows et Linux comme environnements de travail, Steam, Epic Games Store, les PlayStation 4 et 5, la Xbox One, la Xbox Series X et Stadia comme environnements de déploiement, <span>GitLab-CI</span> pour l'intégration continue.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>C#</li>
                <li>GitLab-CI</li>
                <li>HTML/CSS/JS</li>
                <li>Linux</li>
                <li>Python</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://dont-nod.com/">Don't Nod</a>
        </div>
        <div class="information">
            <p>Ingénieur DevOps</p>
            <p>Paris, de mai 2017 à août 2019</p>
        </div>
        <div class="logo">
            <a href="https://dont-nod.com/">
                <img src="{{ url_for('static', filename = 'work_experience/dontnod.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant qu'ingénieur DevOps à Dontnod, je faisais partie d'une équipe de développement multi-projets qui s'occupait du moteur et des outils internes, utilisés pour le développement et la sortie de jeux vidéo pour PC et consoles. J'ai notamment participé aux projets Vampyr, Life Is Strange 2, et Tell Me Why.</p>
            <p>Ma mission consistait à développer, améliorer et entretenir les services et outils internes, ainsi qu'à assister les autres équipes, principalement les développeurs et producers. Mon travail recouvrait en particulier l'intégration et la livraison continue (<span>CI/CD</span>), ainsi que le développement pour les consoles, la configuration de DLC et patches, la gestion de l'infrastructure interne, la localisation, le packaging, la gestion de versions, et l'administration des systèmes.</p>
            <p>Dans ce travail, j'ai utilisé <span>C++</span>, <span>C#</span> et Python pour la programmation, Unreal Engine pour le développement de jeux, Ansible pour l'administration des systèmes, WPF pour le développement d'outils, Windows et Linux comme environnements de travail, Steam, Microsoft Store, la PlayStation 4 et la Xbox One comme environnements de déploiement, Perforce pour la gestion de versions, Buildbot pour l'intégration continue.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>C#</li>
                <li>Linux</li>
                <li>Perforce</li>
                <li>PlayStation</li>
                <li>Python</li>
                <li>Unreal Engine</li>
                <li>Windows</li>
                <li>Xbox</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="http://www.kobojo.com/">Kobojo</a>
        </div>
        <div class="information">
            <p>Ingénieur DevOps</p>
            <p>Paris, de mai 2014 à mai 2017</p>
        </div>
        <div class="logo">
            <a href="http://www.kobojo.com/">
                <img src="{{ url_for('static', filename = 'work_experience/kobojo.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant qu'ingénieur DevOps à Kobojo, je faisais partie d'une équipe de développement multi-projets qui s'occupait du framework et de l'infrastructure serveur utilisée pour le développement, le déploiement et l'opération de jeux vidéo pour Facebook et les mobiles. J'ai notamment participé aux projets Mutants Genetic Gladiators, Zodiac Orcanon Odyssey, et Primal Legends.</p>
            <p>Ma mission consistait à développer le framework backend et à gérer l'infrastructure en ligne. Mon travail recouvrait en particulier le développement backend et l'infrastructure cloud, ainsi que l'intégration et la livraison continues (<span>CI/CD</span>), l'administration des bases de données, le développement des services en ligne, et l'administration des systèmes.</p>
            <p>Dans ce travail, j'ai utilisé Bash, <span>C++</span>, <span>C#</span> et JavaScript pour la programmation, Unity3D pour le développement de jeux vidéo, AWS pour l'infrastructure cloud, <span>ASP.NET</span> et <span>HTML/CSS/JS</span> pour le développement web, Windows et Linux comme environnements de travail, Windows, Facebook, Android et iOS comme environnements de déploiement, TFS pour la gestion de versions, TFS et Jenkins pour l'intégration continue.</p>
        </div>
        <div class="tags">
            <ul>
                <li>AWS</li>
                <li>C#</li>
                <li>C++</li>
                <li>HTML/CSS/JS</li>
                <li>Jenkins</li>
                <li>Linux</li>
                <li>Python</li>
                <li>TFS</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.frenzoo.com/">Frenzoo</a>
        </div>
        <div class="information">
            <p>Programmeur jeux vidéo (stage)</p>
            <p>Hong Kong, d'août 2013 à janvier 2014</p>
        </div>
        <div class="logo">
            <a href="https://www.frenzoo.com/">
                <img src="{{ url_for('static', filename = 'work_experience/frenzoo.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant que programmeur jeux vidéo à Frenzoo, j'ai participé à la création de jeux vidéo pour mobiles. J'ai notamment participé à un jeu de casino pour la franchise Me Girl.</p>
            <p>Ma mission consistait à programmer le jeu, via l'implémentation des éléments de gameplay, le design de l'interface utilisateur et l'optimisation des performances.</p>
            <p>Dans ce travail, j'ai utilisé <span>C#</span> pour la programmation, Unity3D pour le développement de jeux vidéo, Windows comme environnement de travail, Android et iOS comme environnements de déploiement.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Android</li>
                <li>C#</li>
                <li>iOS</li>
                <li>Unity3D</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="#">Pohlm Studio</a>
        </div>
        <div class="information">
            <p>Programmeur outils (stage)</p>
            <p>Angoulême, de septembre 2011 à décembre 2011</p>
        </div>
        <div class="logo">
            <a href="#">
                <img src="{{ url_for('static', filename = 'work_experience/pohlm_studio.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant que programmeur outils à Pohlm Studio, j'ai rejoint une équipe de développement pour la création de jeux vidéo pour mobiles.</p>
            <p>Ma mission consistait à développer un éditeur de niveaux.</p>
            <p>Dans ce travail, j'ai utilisé <span>C#</span> pour la programmation, WPF pour le développement d'applications, Windows comme environnement de travail.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="https://www.edjing.com/">DJiT</a>
        </div>
        <div class="information">
            <p>Programmeur (stage)</p>
            <p>Paris, de juin 2010 à juillet 2010</p>
        </div>
        <div class="logo">
            <a href="https://www.edjing.com/">
                <img src="{{ url_for('static', filename = 'work_experience/djit.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant que programmeur à DJiT, j'ai participé au projet d'une startup pour créer une application web pour le mixage de musique.</p>
            <p>Ma mission consistait à développer l'application web, en travaillant sur l'interface utilisateur et sur le traitement du son.</p>
            <p>Dans ce travail, j'ai utilisé ActionScript 3 et C pour la programmation, Flex pour le développement d'applications, Windows comme environnement de travail.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ActionScript</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="work-experience-entry">
        <div class="heading">
            <a href="http://agence-modedemploi.com/">Modedemploi</a>
        </div>
        <div class="information">
            <p>Testeur et Programmeur (stage)</p>
            <p>Paris, de juin 2009 à juillet 2009</p>
        </div>
        <div class="logo">
            <a href="http://agence-modedemploi.com/">
                <img src="{{ url_for('static', filename = 'work_experience/modedemploi.png') }}" />
            </a>
        </div>
        <div class="text">
            <p>En tant que testeur et programmeur à Modedemploi, j'ai participé au développement de projets web.</p>
            <p>Ma mission consistait à tester des sites web et à développer des widgets.</p>
            <p>Dans ce travail, j'ai utilisé ActionScript pour la programmation, Flash pour le développement d'applications, Windows comme environnement de travail.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ActionScript</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
