{# cspell:words français stylesheet #}

{% import 'macros.html' as shared_macros -%}

<!doctype html>
<html>

    <head>
        <title>{{ title }} - Benjamin Hamon's developer website</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'layout.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'generic.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'content.css') }}"/>
        <link rel="icon" href="data:,">
    </head>

	<body>

		<header>
            <div class="title">
                <a href="{{ url_for('main_controller.home', locale = 'en') }}">Benjamin Hamon's developer website</a>
            </div>
			<nav>
                {{ shared_macros.navigation_link('main_controller.home', 'en', 'Home', [ 'main_controller.home' ]) }}
                {{ shared_macros.navigation_link('main_controller.education', 'en', 'Education', [ 'main_controller.education' ]) }}
                {{ shared_macros.navigation_link('main_controller.work_experience', 'en', 'Work Experience', [ 'main_controller.work_experience' ]) }}
                {{ shared_macros.navigation_link('main_controller.projects', 'en', 'Projects', [ 'main_controller.projects' ]) }}
                {{ shared_macros.navigation_link('main_controller.skills', 'en', 'Skills', [ 'main_controller.skills' ]) }}
                {{ shared_macros.navigation_link('main_controller.contact', 'en', 'Contact', [ 'main_controller.contact' ]) }}
			</nav>
		</header>

		<main>

			{% block content %}{% endblock %}

		</main>

        <footer>
            <div>
                {{ shared_macros.locale_link('en', 'en', '🇬🇧', 'English') }}
                {{ shared_macros.locale_link('en', 'fr', '🇫🇷', 'Français') }}
            </div>
            <div>
                <p>Benjamin Hamon's developer website</p>
            </div>
            <div>
                <a href="https://www.benjaminhamon.com">Portal</a>
                <a href="{{ config['METADATA']['sources_url'] }}">Sources</a>
                <a href="mailto:{{ config['METADATA']['contact_email'] }}">Contact</a>
            </div>
            <div>
                {% if config['METADATA']['version'] %}
                <p>Version {{ config['METADATA']['version'] }} ({{ config['METADATA']['date'] }})</p>
                <p>{{ config['METADATA']['copyright'].replace("(c)", "©") }}</p>
                {% else %}
                <p>Development Version</p>
                {% endif %}
            </div>
        </footer>

    </body>

	{% block scripts %}{% endblock %}

</html>
