{% set title = 'Skills' %}

{% extends 'en/layout.html' %}

{% block content %}

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Programming</p>
        </div>
        <div class="text">
            <p>I'm foremost a programmer and I enjoy software engineering in general, from developing games to implementing web services, from enhancing user experience to optimizing performance.</p>
            <p><span>C#</span> is my preferred programming language and the one with which I'm most experienced, along with the DotNet platform. Python is a close second, and I've been using it extensively these past few years. I'm also moderately proficient with <span>C++</span>, Java and JavaScript, although I've been exposed to those somewhat rarely.</p>
        </div>
        <div class="tags">
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>System Administration</p>
        </div>
        <div class="text">
            <p>Through my jobs as DevOps, I've come to do a lot of system administration. I focus on infrastructure management and online services, notably through Ansible. I have experience with cloud computing through using Amazon Web Services extensively a few years back. I enjoy working with Linux and Windows equally.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Ansible</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>Windows</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Game Development</p>
        </div>
        <div class="text">
            <p>The vast majority of my work experience is in video games, whether on PC, consoles or mobiles. I'm less on the side of game programming and more of the logistics of the development: building and delivering the final application and its content.</p>
            <p>I'm particularly familiar with Unity3D, and somewhat with Unreal Engine. I worked with most platforms in some capacity, predominantly Steam, PlayStation and Xbox.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Epic</li>
                <li>PlayStation</li>
                <li>Steam</li>
                <li>Unity3D</li>
                <li>Unreal Engine</li>
                <li>Xbox</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Web Development</p>
        </div>
        <div class="text">
            <p>I've built a few simple websites and web services over the years, including this very website. I have no pretention of being what you'd call a full-stack developer but I have experience with both frontend and backend.</p>
        </div>
        <div class="tags">
            <ul>
                <li>ASP.NET</li>
                <li>Flask</li>
                <li>HTML/CSS/JS</li>
            </ul>
        </div>
    </article>
</section>

<section>
    <article class="skill-entry">
        <div class="heading">
            <p>Databases</p>
        </div>
        <div class="text">
            <p>I have some experience with databases, mostly traditional SQL databases.</p>
        </div>
        <div class="tags">
            <ul>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Redis</li>
                <li>SQL Server</li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}
